@using IECHClinic.DataAccess
@model IECHClinic.Models.RolVM
@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-heading bg-primary text-white">
    <div>
        Perfiles
    </div>
</div>
<!-- START card-->
<div class="row">
    <div class="col-lg-12">
        <div class="row" id="CreateView-wrapper">
            <div class="col-lg-12">
                <div class="card card-default">
                    <div class="card-header text-white bg-primary mb-3">
                        <h5>Capture</h5>
                    </div>
                    <div class="card-body">
                        <div id="CreateForm-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="EditView-wrapper">
            <div class="col-lg-12">
                <div class="card card-default">
                    <div class="card-header text-white bg-primary mb-3">
                        <h5>Editar Perfil</h5>
                    </div>
                    <div class="card-body">
                        <div id="EditForm-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-default">
                    <div class="card-header text-white bg-primary mb-3">
                        <h5>Listado</h5>
                    </div>
                    <div class="card-wrapper collapse show">
                        <div class="card-body">
                            <div id="EmpleadosForm-wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/vendor/sweetalert/dist/sweetalert.css" />
    <link rel="stylesheet" href="~/vendor/sweetalert2/sweetalert2.min.css" />

    <link rel="stylesheet" href="~/vendor/animate.css/animate.css">
    <!-- WHIRL (spinners)-->
    <link rel="stylesheet" href="~/vendor/whirl/dist/whirl.css">
    <!-- =============== PAGE VENDOR STYLES ===============-->
    <!-- Datatables-->
    <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
    <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    <!-- =============== BOOTSTRAP STYLES ===============-->
    <link rel="stylesheet" href="../css/bootstrap.css" id="bscss">
    <link rel="stylesheet" href="~/vendor/holdon/HoldOn.min.css" />
}

@section Scripts {
    <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/vendor/sweetalert2/sweetalert2.min.js"></script>

    <!-- =============== VENDOR SCRIPTS ===============-->
    <!-- MODERNIZR-->
    <script src="~/vendor/modernizr/modernizr.custom.js"></script>
    <!-- JQUERY-->
    <script src="~/vendor/jquery/dist/jquery.js"></script>
    <!-- BOOTSTRAP-->
    <script src="~/vendor/popper.js/dist/umd/popper.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <!-- STORAGE API-->
    <script src="~/vendor/js-storage/js.storage.js"></script>
    <!-- JQUERY EASING-->
    <script src="~/vendor/jquery.easing/jquery.easing.js"></script>
    <!-- ANIMO-->
    <script src="~/vendor/animo/animo.js"></script>
    <!-- SCREENFULL-->
    <script src="~/vendor/screenfull/dist/screenfull.js"></script>
    <!-- LOCALIZE-->
    <script src="~/vendor/jquery-localize/dist/jquery.localize.js"></script>
    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
    <!-- Datatables-->
    <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
    <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
    <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
    <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
    <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendor/jszip/dist/jszip.js"></script>
    <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
    <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/easytimer.js@4.0.2/dist/easytimer.min.js"></script>
    <script src="~/vendor/holdon/HoldOn.min.js"></script>

    <script type="text/javascript">
        $("#radioActivoC").attr('checked', true);
        $("#radioAdministrativoC").attr('checked', true);

        function radioActivoE() { if (document.getElementById('radioActivoE').value == 0) { $("#radioActivoE").prop('checked', true); $("#radioActivoE").prop('value', 1); } else { $("#radioActivoE").prop('checked', false); $("#radioActivoE").prop('value', 0); } }
        function radioActivo() { if (document.getElementById('radioActivoC').value == 0) { $("#radioActivoC").prop('checked', true); $("#radioActivoC").prop('value', 1); } else { $("#radioActivoC").prop('checked', false); $("#radioActivoC").prop('value', 0); } }

        function radioAdministrativoE() { if (document.getElementById('radioAdministrativoE').value == 0) { $("#radioAdministrativoE").prop('checked', true); $("#radioAdministrativoE").prop('value', 1); } else { $("#radioAdministrativoE").prop('checked', false); $("#radioAdministrativoE").prop('value', 0); } }
        function radioAdministrativo()  { if (document.getElementById('radioAdministrativoC').value == 0) { $("#radioAdministrativoC").prop('checked', true); $("#radioAdministrativoC").prop('value', 1); } else { $("#radioAdministrativoC").prop('checked', false); $("#radioAdministrativoC").prop('value', 0); } }



    function buscar() {
    }

    function create() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Create", "Rol")",
            datatype: "json",
            traditional: true,
            success: function (data) {
                $('#CreateForm-wrapper').html(data);
                $('#CreateForm-wrapper').fadeIn();
                HoldOn.close();
            },
            error: function (data) {
                HoldOn.close();
                console.log("Error", "Error al obtener los datos", "error");
            }
        });
    }

    $(document).ready(function () {
         $('#EditView-wrapper').fadeOut();
        ListarRoles();
        create();
    });


        function ListarRoles() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("getGridRol", "Rol")",
                data: $('form').serialize(),
                datatype: "json",
                traditional: true,
                success: function (data) {
                   LimpiaDiv('EmpleadosForm-wrapper');
                    $('#EmpleadosForm-wrapper').html(data);
                    $('#EmpleadosForm-wrapper').fadeIn();
                },
                error: function (data) {
                    Swal.fire({ title: "Error", text: "Error al obtener los datos..", type: 'error', });
                }
            });
        }

        $(document).on("click", ".urlEditar", function (e) {
        e.preventDefault();
        $('#CreateView-wrapper').fadeOut();
            var ID = $(this).attr("data");
            console.log(ID);
        $.ajax({
            type: "POST",
            url: "@Url.Action("EditarRol", "Rol")",
            data: { RolID: ID },
            datatype: "json",
            traditional: true,
            success: function (data) {
                $('#EditForm-wrapper').html(data);
                $('#EditForm-wrapper').fadeIn();
                $('#EditView-wrapper').fadeIn();
                HoldOn.close();
            },
            error: function (data) {
                HoldOn.close();
                console.log("Error", "Error al obtener los datos", "error");
            }
        });
    });

        $(document).on("click", ".urlEliminar", function (e) {
        e.preventDefault();
        var ID = $(this).attr("data");
        Swal.fire({
            title: '¿Desesa eliminar este Registro? Este movimiento no se puede deshacer.',
            type: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí',
            cancelButtonText: 'No',
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("EliminarRol", "Rol")",
                    datatype: "json",
                    traditional: true,
                    data: { RolID: ID },
                    beforeSend: function () {
                        HoldOn.open({
                            theme: "sk-cube-grid"
                        });
                    },
                    complete: function () {
                        HoldOn.close();
                    },
                    success: function (data) {
                        data = JSON.parse(data)
                        if (data.OK) {
                            HoldOn.close();
                            ListarRoles();
                            Swal.fire({ title: "Listo", text: "Registro eliminado", type: 'info', });
                        } else {
                            Swal.fire({ title: "Ocurrió el siguiente Error:", text: data.Mensaje, type: 'warning', });
                        }
                    },
                    error: function (data) {
                        console.log("Error", "Error al eliminar este registro.", "error");
                        HoldOn.close();
                    }
                });
            }
        });
    });

        $(document).on("click", "#GuardaEditEmpleado-btn", function (e) {
        e.preventDefault();
            var EditarRol = $('#EditForm-wrapper :input').serializeArray();
            var ID;
            var nombre;
            var esadmin = document.getElementById('radioAdministrativoE').value;
            var activo = document.getElementById('radioActivoE').value;

            EditarRol.map(function (rol) {
                if (rol.name === "intRolID") {
                    ID = rol.value;
                }
                if (rol.name === "strNombre") {
                    nombre = rol.value;
                }
            });

            if (ID != '' && nombre != '' && ID != undefined && nombre != undefined) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GuardaEditRol", "Rol")",
                data: {
                    RolID: ID,
                    Nombre: nombre,
                    isAdmin: esadmin,
                    Activo: activo,
                },
                datatype: "json",
                traditional: true,
                beforeSend: function () {
                    HoldOn.open({
                        theme: "sk-cube-grid"
                    });
                },
                complete: function () {
                    HoldOn.close();
                },
                success: function (data) {
                    data = JSON.parse(data)
                    if (data.OK) {
                        Swal.fire({ title: "Datos actualizados", text: data.Mensaje, type: 'success', });
                        HoldOn.close();
                        $('#EditView-wrapper').fadeOut();
                        $('#EditForm-wrapper').fadeOut();
                        ListarRoles();
                        $('#CreateView-wrapper').fadeIn();
                    }
                },
                error: function (data) {
                    console.log("Error", "Error al eliminar la Mesa.", "error");
                    HoldOn.close();
                }
            });
        } else {
            Swal.fire({
                title: 'Faltan datos, por favor verifica que ningun campo este vacío.',
                type: 'error',
            });
        }
    });

        $(document).on("click", "#GuardarRol-btn", function (e) {
        e.preventDefault();
            var nombre = $(@Html.IdFor(x => x.strNombre)).val();

            var activo = document.getElementById('radioActivoC').value;
            var esadmin = document.getElementById('radioAdministrativoC').value;

            if (nombre != '' && nombre != undefined) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GuardarRol", "Rol")",
                data: {
                    Nombre: nombre,
                    isAdmin: esadmin,
                    Activo: activo,
                },
                datatype: "json",
                traditional: true,
                beforeSend: function () {
                    HoldOn.open({
                        theme: "sk-cube-grid"
                    });
                },
                complete: function () {
                    HoldOn.close();
                },
                success: function (data) {
                    data = JSON.parse(data)
                    if (data.OK) {
                        Swal.fire({ title: "Datos guardados", text: data.Mensaje, type: 'success', });
                        HoldOn.close();
                        ListarRoles();
                        create();
                    } else {
                        Swal.fire({ title: "Ocurrió el siguiente Error:", text: data.Mensaje, type: 'warning', });
                    }
                },
                error: function (data) {
                    console.log("Ocurrió el siguiente Error:", data.Mensaje, "error");
                    HoldOn.close();
                }
            });
        } else {
                Swal.fire({ title: 'Faltan datos, por favor verifica que ningun campo este vacío.', type: 'error', });
        }
    });


        function LimpiaDiv(elementID) {
            var div = document.getElementById(elementID);
            while (div.firstChild) {
                div.removeChild(div.firstChild);

            }
        }

    </script>
}

