@using appWebPrueba.DataAccess
@model appWebPrueba.Models.RolVM


<div class="card-body">
    @Html.HiddenFor(x => Model.Estado)
    @Html.HiddenFor(x => Model.IsAdministrativo)

    @Html.HiddenFor(x => Model.intRolID)
    <div class="form-group row">
        <div class="col-lg-4">
            @Html.LabelFor(y => y.intRolID, new { @class = "label-form" })
            <div class="input-group">
                @Html.TextBoxFor(y => y.intRolID, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-4">
            @Html.LabelFor(x => x.strNombre, new { @class = "label-form" })
            <div class="input-group">
                @Html.TextBoxFor(x => x.strNombre, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(x => x.strNombre, "", new { @class = "text-danger" })
        </div>
        <div class="col-lg-4">
            @Html.LabelFor(y => y.IsAdministrativo, new { @class = "label-form" })
            <div class="input-group">
                <span class="input-group-prepend">
                    <span class="input-group-text">
                        <i>
                            <input type="radio" value="" name="radioAdministrativoE" id="radioAdministrativoE"
                                   onclick="radioAdministrativoE()">
                        </i>
                    </span>
                </span>
                <input value="Es Administrativo?" class="form-control" type="text" readonly>
            </div>
        </div>
        <div class="col-lg-4">
            @Html.LabelFor(y => y.Estado, new { @class = "label-form" })
            <div class="input-group">
                <span class="input-group-prepend">
                    <span class="input-group-text">
                        <i>
                            <input type="radio" value="" name="radioActivoE" id="radioActivoE"
                                   onclick="radioActivoE()">
                        </i>
                    </span>
                </span>
                <input value="Activo" class="form-control" type="text" readonly>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            &nbsp;
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-4">
            &nbsp;
        </div>
        <div class="col-lg-3">
            &nbsp;
            <div class="input-group">
                &nbsp;

            </div>
            &nbsp;
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <div>
                &nbsp;
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <div class="btn btn-primary float-right" id="GuardaEditEmpleado-btn">
                Actualizar
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var estado = $(@Html.IdFor(y => Model.Estado)).val();
        var esadmin = $(@Html.IdFor(y => Model.IsAdministrativo)).val();

        if (estado == 'False') { $("#radioActivoE").prop('checked', false); $("#radioActivoE").prop('value', 0); } else { $("#radioActivoE").attr('checked', true); $("#radioActivoE").prop('value', 1); }
        if (esadmin == 'False') { $("#radioAdministrativoE").prop('checked', false); $("#radioAdministrativoE").prop('value', 0); } else { $("#radioAdministrativoE").attr('checked', true); $("#radioAdministrativoE").prop('value', 1); }


    });
</script>
