@using appWebPrueba.DataAccess
@model appWebPrueba.Models.ColorVM

<div class="card-body">
    <div class="form-group row">
        <div class="col-lg-4">
            @Html.LabelFor(x => x.strNombre, new { @class = "label-form" })
            <div class="input-group">
                @Html.TextBoxFor(x => x.strNombre, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(x => x.strNombre, "", new { @class = "text-danger" })
        </div>
        <div class="col-lg-4">
            @Html.LabelFor(x => x.intColorimetro, new { @class = "label-form" })
            <select data-plugin-selectTwo data-minimum-results-for-search="Infinity"
                    class="form-control populate mb-3"
                    name="@Html.NameFor(x => x.Colorimetro.ColorimetroID)"
                    id="cboColorimetro">

                @if (Model.Colorimetro.ColorimetroID != null)
                {
                    <option value="@Model.Colorimetro.ColorimetroID">@Model.Colorimetro.NombreColorimetro</option>
                }
                else
                {
                    <option value="">Seleccione...</option>
                }
                @foreach (appWebPrueba.Models.Colorimetro colorimetro in Model.lColorimetro)
                {
                    <option value="@colorimetro.ColorimetroID">
                        @colorimetro.NombreColorimetro
                    </option>
                }
            </select>
        </div>
        <div class="col-lg-4">
            @Html.LabelFor(x => x.Estado, new { @class = "label-form" })
            <div class="input-group">
                <span class="input-group-prepend">
                    <span class="input-group-text">
                        <i>
                            <input type="radio" value="0" name="radioActivoC" id="radioActivoC"
                                   onclick="radioActivo()">
                        </i>
                    </span>
                </span>
                <input value="Activo" class="form-control" type="text" readonly>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-4">&nbsp;
        </div>
        <div class="col-lg-4">
            &nbsp;
        </div>
        <div class="col-lg-4">
            &nbsp;
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <div class="btn btn-dark float-right" id="GuardarColor-btn">
                Guardar
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#radioActivoC").attr('checked', true);
    $("#radioActivoC").prop('value', 1);


</script>
