@using appWebPrueba.DataAccess
@model appWebPrueba.Models.TipoTrabajoVM
@{
    ViewBag.Title = "TipoTrabajoes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-heading bg-dark text-white">
    <div>
        Tipos de Trabajo
    </div>
</div>
<!-- START card-->
<div class="row">
    <div class="col-lg-12">
        <div class="row" id="CreateView-wrapper">
            <div class="col-lg-12">
                <div class="card card-default">
                    <div class="card-header text-white bg-dark mb-3">
                        <h5>Capture</h5>
                    </div>
                    <div class="card-body">
                        <div id="CreateForm-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="EditView-wrapper">
            <div class="col-lg-12">
                <div class="card card-default">
                    <div class="card-header text-white bg-dark mb-3">
                        <h5>Editar Tipo de Trabajo</h5>
                    </div>
                    <div class="card-body">
                        <div id="EditForm-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="TipoTrabajoView-wrapper">
            <div class="col-lg-12">
                <div class="card card-default">
                    <div class="card-header text-white bg-dark mb-3">
                        <h5>Listado</h5>
                    </div>
                    <div class="card-wrapper collapse show">
                        <div class="card-body">
                            <div id="TipoTrabajoForm-wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="VistaConfiguracion-Form">
            <div class="col-lg-6 col-sm-6">
                <div class="card-header text-white bg-dark mb-3">
                    <h5>Operaciones</h5>
                </div>
                <div class="card-body">
                    <div id="ConfiguracionOpsFull-wrapper"></div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="card-header text-white bg-dark mb-3">
                    <h5>Operaciones para este Tipo de Trabajo</h5>
                </div>
                <div class="card-body">
                    <div id="ConfiguracionOpsXTrabajo-wrapper"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    @*<div class="col-lg-12">
    </div>*@
        <div class="col-lg-12" id="VistaConfiguracionMateriales-Form">
            <div class="card card-default">
                <div class="card-header text-white bg-dark mb-3">
                    <h5>
                        <span id="spTrabajo"></span>
                        <span id="spOperacion"></span>
                    </h5>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="card-header text-white bg-dark mb-3">
                            <h5>
                                Materiales
                                <input style="display:none" id="txtOprXTipoTrab" type="text" value="0" />
                            </h5>
                        </div>
                        <div class="card-body">
                            <div id="MaterialesOpsFull-wrapper"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="card-header text-white bg-dark mb-3">
                            <h5>Materiales para este Tipo de Trabajo</h5>
                        </div>
                        <div class="card-body">
                            <div id="MaterialesOpsXTrabajo-wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</div>

@section Styles {
    <link rel="stylesheet" href="~/vendor/sweetalert/dist/sweetalert.css" />
    <link rel="stylesheet" href="~/vendor/sweetalert2/sweetalert2.min.css" />

    <link rel="stylesheet" href="~/vendor/animate.css/animate.css">
    <!-- WHIRL (spinners)-->
    <link rel="stylesheet" href="~/vendor/whirl/dist/whirl.css">
    <!-- =============== PAGE VENDOR STYLES ===============-->
    <!-- Datatables-->
    <link rel="stylesheet" href="~/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/vendor/datatables.net-keytable-bs/css/keyTable.bootstrap.css">
    <link rel="stylesheet" href="~/vendor/datatables.net-responsive-bs/css/responsive.bootstrap.css">
    <!-- =============== BOOTSTRAP STYLES ===============-->
    <link rel="stylesheet" href="../css/bootstrap.css" id="bscss">
    <link rel="stylesheet" href="~/vendor/holdon/HoldOn.min.css" />
}

@section Scripts {
    <script src="~/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/vendor/sweetalert2/sweetalert2.min.js"></script>

    <!-- =============== VENDOR SCRIPTS ===============-->
    <!-- MODERNIZR-->
    <script src="~/vendor/modernizr/modernizr.custom.js"></script>
    <!-- JQUERY-->
    <script src="~/vendor/jquery/dist/jquery.js"></script>
    <!-- BOOTSTRAP-->
    <script src="~/vendor/popper.js/dist/umd/popper.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <!-- STORAGE API-->
    <script src="~/vendor/js-storage/js.storage.js"></script>
    <!-- JQUERY EASING-->
    <script src="~/vendor/jquery.easing/jquery.easing.js"></script>
    <!-- ANIMO-->
    <script src="~/vendor/animo/animo.js"></script>
    <!-- SCREENFULL-->
    <script src="~/vendor/screenfull/dist/screenfull.js"></script>
    <!-- LOCALIZE-->
    <script src="~/vendor/jquery-localize/dist/jquery.localize.js"></script>
    <!-- =============== PAGE VENDOR SCRIPTS ===============-->
    <!-- Datatables-->
    <script src="~/vendor/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/dataTables.buttons.js"></script>
    <script src="~/vendor/datatables.net-buttons-bs/js/buttons.bootstrap.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.colVis.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.flash.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.html5.js"></script>
    <script src="~/vendor/datatables.net-buttons/js/buttons.print.js"></script>
    <script src="~/vendor/datatables.net-keytable/js/dataTables.keyTable.js"></script>
    <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.js"></script>
    <script src="~/vendor/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendor/jszip/dist/jszip.js"></script>
    <script src="~/vendor/pdfmake/build/pdfmake.js"></script>
    <script src="~/vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/easytimer.js@4.0.2/dist/easytimer.min.js"></script>
    <script src="~/vendor/holdon/HoldOn.min.js"></script>

    <script type="text/javascript">
        $("#radioActivoC").attr('checked', true);

        function radioActivoE() { if (document.getElementById('radioActivoE').value == 0) { $("#radioActivoE").prop('checked', true); $("#radioActivoE").prop('value', 1); } else { $("#radioActivoE").prop('checked', false); $("#radioActivoE").prop('value', 0); } }
        function radioActivo() { if (document.getElementById('radioActivoC').value == 0) { $("#radioActivoC").prop('checked', true); $("#radioActivoC").prop('value', 1); } else { $("#radioActivoC").prop('checked', false); $("#radioActivoC").prop('value', 0); } }


    function buscar() {
    }

    function create() {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Create", "TipoTrabajo")",
            datatype: "json",
            traditional: true,
            success: function (data) {
                $('#CreateForm-wrapper').html(data);
                $('#CreateForm-wrapper').fadeIn();
                HoldOn.close();
            },
            error: function (data) {
                HoldOn.close();
                console.log("Error", "Error al obtener los datos", "error");
            }
        });
        }

        $(document).ready(function () {
            $('#EditView-wrapper').fadeOut();
            $('#VistaConfiguracion-Form').fadeOut();
            $('#VistaConfiguracionMateriales-Form').fadeOut();
        ListarTipoTrabajo();
        create();
    });


        function ListarTipoTrabajo() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("getGridTipoTrabajo", "TipoTrabajo")",
                data: $('form').serialize(),
                datatype: "json",
                traditional: true,
                success: function (data) {
                   LimpiaDiv('TipoTrabajoForm-wrapper');
                    $('#TipoTrabajoForm-wrapper').html(data);
                    $('#TipoTrabajoForm-wrapper').fadeIn();
                },
                error: function (data) {
                    Swal.fire({ title: "Error", text: "Error al obtener los datos..", type: 'error', });
                }
            });
        }

        $(document).on("click", ".urlEditar", function (e) {
            e.preventDefault();
            $('#CreateView-wrapper').fadeOut();

            var ID = $(this).attr("data");
            console.log(ID);
        $.ajax({
            type: "POST",
            url: "@Url.Action("EditarTipoTrabajo", "TipoTrabajo")",
            data: { TipoTrabajoID: ID },
            datatype: "json",
            traditional: true,
            success: function (data) {
                $('#EditForm-wrapper').html(data);
                $('#EditForm-wrapper').fadeIn();
                $('#EditView-wrapper').fadeIn();
                $('#AgregaOperaciones-btn').fadeIn();
                $('#OcultaOperaciones-btn').fadeOut();
                HoldOn.close();
            },
            error: function (data) {
                HoldOn.close();
                console.log("Error", "Error al obtener los datos", "error");
            }
        });
        });


        $(document).on("click", ".urlEliminar", function (e) {
        e.preventDefault();
        var ID = $(this).attr("data");
        Swal.fire({
            title: '¿Desesa eliminar este Registro? Este movimiento no se puede deshacer.',
            type: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí',
            cancelButtonText: 'No',
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("EliminarTipoTrabajo", "TipoTrabajo")",
                    datatype: "json",
                    traditional: true,
                    data: { TipoTrabajoID: ID },
                    beforeSend: function () {
                        HoldOn.open({
                            theme: "sk-cube-grid"
                        });
                    },
                    complete: function () {
                        HoldOn.close();
                    },
                    success: function (data) {
                        data = JSON.parse(data)
                        if (data.OK) {
                            HoldOn.close();
                            ListarTipoTrabajo();
                            Swal.fire({ title: "Listo", text: "Registro eliminado", type: 'info', });
                        } else {
                            Swal.fire({ title: "Ocurrió el siguiente Error:", text: data.Mensaje, type: 'warning', });
                        }
                    },
                    error: function (data) {
                        console.log("Error", "Error al eliminar este registro.", "error");
                        HoldOn.close();
                    }
                });
            }
        });
    });

        $(document).on("click", "#GuardaEditTipoTrabajo-btn", function (e) {
        e.preventDefault();
            var EditarTipoTrabajo = $('#EditForm-wrapper :input').serializeArray();
            var ID;
            var nombre;
            var nombreCorto;
            var material = document.getElementById('cboMaterial_E').value;
            var precio;
            var precioUrge;
            var activo = document.getElementById('radioActivoE').value;

            EditarTipoTrabajo.map(function (tipoTrabajo) {
                if (tipoTrabajo.name === "intTipoTrabajoID") {
                    ID = tipoTrabajo.value;
                }
                if (tipoTrabajo.name === "strNombre") {
                    nombre = tipoTrabajo.value;
                }
                if (tipoTrabajo.name === "strNombreCorto") {
                    nombreCorto = tipoTrabajo.value;
                }
                if (tipoTrabajo.name === "dblPrecio") {
                    precio = tipoTrabajo.value;
                }
                if (tipoTrabajo.name === "dblPrecioUrgente") {
                    precioUrge = tipoTrabajo.value;
                }
            });

            if (ID != '' && nombre != '' && ID != undefined && nombre != undefined) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GuardaEditTipoTrabajo", "TipoTrabajo")",
                data: {
                    TipoTrabajoID: ID,
                    Nombre: nombre,
                    NombreCorto: nombreCorto,
                    intMaterial: material,
                    dblPrecio:precio,
                    dblPrecioUrgencia:precioUrge,
                    Activo: activo,
                },
                datatype: "json",
                traditional: true,
                beforeSend: function () {
                    HoldOn.open({
                        theme: "sk-cube-grid"
                    });
                },
                complete: function () {
                    HoldOn.close();
                },
                success: function (data) {
                    data = JSON.parse(data)
                    if (data.OK) {
                        Swal.fire({ title: "Datos actualizados", text: data.Mensaje, type: 'success', });
                        HoldOn.close();
                        $('#EditView-wrapper').fadeOut();
                        $('#EditForm-wrapper').fadeOut();
                        ListarTipoTrabajo();
                        $('#CreateView-wrapper').fadeIn();
                    }
                },
                error: function (data) {
                    console.log("Error", "Error al eliminar la Mesa.", "error");
                    HoldOn.close();
                }
            });
        } else {
            Swal.fire({
                title: 'Faltan datos, por favor verifica que ningun campo este vacío.',
                type: 'error',
            });
        }
    });

        $(document).on("click", "#GuardarTipoTrabajo-btn", function (e) {
        e.preventDefault();
            var nombre = $(@Html.IdFor(x => x.strNombre)).val();
            var nombreCorto = $(@Html.IdFor(x => x.strNombreCorto)).val();
            var material = document.getElementById('cboMaterial').value;
            var precio = $(@Html.IdFor(x => x.dblPrecio)).val();
            var precioUrge = $(@Html.IdFor(x => x.dblPrecioUrgente)).val();

            var activo = document.getElementById('radioActivoC').value;

            if (nombre != '' && nombre != undefined) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GuardarTipoTrabajo", "TipoTrabajo")",
                data: {
                    Nombre: nombre,
                    NombreCorto: nombreCorto,
                    intMaterial: material,
                    dblPrecio: precio,
                    dblPrecioUrgencia: precioUrge,
                    Activo: activo,
                },
                datatype: "json",
                traditional: true,
                beforeSend: function () {
                    HoldOn.open({
                        theme: "sk-cube-grid"
                    });
                },
                complete: function () {
                    HoldOn.close();
                },
                success: function (data) {
                    data = JSON.parse(data)
                    if (data.OK) {
                        Swal.fire({ title: "Datos guardados", text: data.Mensaje, type: 'success', });
                        HoldOn.close();
                        ListarTipoTrabajo();
                        create();
                    } else {
                        Swal.fire({ title: "Ocurrió el siguiente Error:", text: data.Mensaje, type: 'warning', });
                    }
                },
                error: function (data) {
                    console.log("Ocurrió el siguiente Error:", data.Mensaje, "error");
                    HoldOn.close();
                }
            });
        } else {
                Swal.fire({ title: 'Faltan datos, por favor verifica que ningun campo este vacío.', type: 'error', });
        }
    });


        $(document).on("click", "#AgregaOperaciones-btn", function (e) {
            document.getElementById("AgregaOperaciones-btn").style.display = "none";
            document.getElementById("OcultaOperaciones-btn").style.display = "";

            e.preventDefault();

            $('#CreateForm-wrapper').fadeOut();
            $('#TipoTrabajoView-wrapper').fadeOut();
            $('#TipoTrabajoForm-wrapper').fadeOut();

            $('#VistaConfiguracionMateriales-Form').fadeOut();
            $('#MaterialesOpsFull-wrapper').fadeOut();
            $('#MaterialesOpsXTrabajo-wrapper').fadeOut();

            $('#ConfiguracionForm-wrapper').fadeIn();
            $('#ConfiguracionOpsFull-wrapper').fadeIn();
            $('#ConfiguracionOpsXTrabajo-wrapper').fadeIn();
            $('#VistaConfiguracion-Form').fadeIn();

            $('#AgregaOperaciones-btn').fadeOut();
            $('#OcultaOperaciones-btn').fadeIn();


            ListarOperacionesFull();
        });



        $(document).on("click", "#OcultaOperaciones-btn", function (e) {
            document.getElementById("AgregaOperaciones-btn").style.display = "";
            document.getElementById("OcultaOperaciones-btn").style.display = "none";
            e.preventDefault();

            $('#CreateForm-wrapper').fadeOut();
            $('#TipoTrabajoView-wrapper').fadeIn();
            $('#TipoTrabajoForm-wrapper').fadeIn();

            $('#VistaConfiguracionMateriales-Form').fadeOut();
            $('#MaterialesOpsFull-wrapper').fadeOut();
            $('#MaterialesOpsXTrabajo-wrapper').fadeOut();

            $('#ConfiguracionForm-wrapper').fadeOut();
            $('#ConfiguracionOpsFull-wrapper').fadeOut();
            $('#ConfiguracionOpsXTrabajo-wrapper').fadeOut();
            $('#VistaConfiguracion-Form').fadeOut();

            $('#AgregaOperaciones-btn').fadeIn();
            $('#OcultaOperaciones-btn').fadeOut();

            $('#EditForm-wrapper').fadeIn();
            $('#EditView-wrapper').fadeIn();
        });


        function ListarOperacionesFull() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("getGridOperacionesActivasCompleta", "Operacion")",
                data: $('form').serialize(),
                datatype: "json",
                traditional: true,
                success: function (data) {
                    LimpiaDiv('ConfiguracionOpsFull-wrapper');
                    $('#ConfiguracionOpsFull-wrapper').html(data);
                    ListarOperacionesXTipoTrabajo();
                },
                error: function (data) {
                    Swal.fire({ title: "Error", text: "Error al obtener los datos..", type: 'error', });
                }
            });
        }

        function ListarOperacionesXTipoTrabajo() {
            var _TipoTrabID = $(@Html.IdFor(x => x.intTipoTrabajoID)).val();

            //alert(_TipoTrabID)
            $.ajax({
                type: "POST",
                url: "@Url.Action("getGridOperacionesXTipoTrabajo", "Operacion")",
                data: {
                    OperacionIDintTipoTrabajo: _TipoTrabID,
                },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    LimpiaDiv('ConfiguracionOpsXTrabajo-wrapper');
                    $('#ConfiguracionOpsXTrabajo-wrapper').html(data);
                },
                error: function (data) {
                    Swal.fire({ title: "Error", text: "Error al obtener los datos..", type: 'error', });
                }
            });
        }


        $(document).on("click", ".urlAgregaOperacionBF", function (e) {
        e.preventDefault();
        //$('#CreateView-wrapper').fadeOut();
            var ID = $(this).attr("data");
            var _TipoTrabID = $(@Html.IdFor(x => x.intTipoTrabajoID)).val();
           // alert("ID : " + ID +"[--]_TipoTrabID : "+_TipoTrabID);

            $.ajax({
                type: "POST",
                url: "@Url.Action("AgregaOperacionXTipoTrabajo", "Operacion")",
                data: {
                    intOperacion: ID,
                    intTipoTrabajo: _TipoTrabID,
                    TypeOer: "BF"
                },
                datatype: "json",
                traditional: true,
                beforeSend: function () {
                    HoldOn.open({
                        theme: "sk-cube-grid"
                    });
                },
                complete: function () {
                    HoldOn.close();
                },
                success: function (data) {
                    data = JSON.parse(data)
                    if (data.OK) {
                        Swal.fire({ title: "Datos guardados", text: data.Mensaje, type: 'success', timer: 1000 });
                        HoldOn.close();
                        ListarOperacionesXTipoTrabajo();
                    } else {
                        HoldOn.close();
                        Swal.fire({ title: "Error:", text: data.Mensaje, type: 'error', timer: 6000 });
                    }
                },
                error: function (data) {
                    console.log("Ocurrió el siguiente Error:", data.Mensaje, "error");
                    HoldOn.close();
                }
            });

        });


        $(document).on("click", ".urlAgregaOperacionTQ", function (e) {
        e.preventDefault();
        //$('#CreateView-wrapper').fadeOut();
            var ID = $(this).attr("data");
            var _TipoTrabID = $(@Html.IdFor(x => x.intTipoTrabajoID)).val();

            $.ajax({
                type: "POST",
                url: "@Url.Action("AgregaOperacionXTipoTrabajo", "Operacion")",
                data: {
                    intOperacion: ID,
                    intTipoTrabajo: _TipoTrabID,
                    TypeOer: "TQ"
                },
                datatype: "json",
                traditional: true,
                beforeSend: function () {
                    HoldOn.open({
                        theme: "sk-cube-grid"
                    });
                },
                complete: function () {
                    HoldOn.close();
                },
                success: function (data) {
                    data = JSON.parse(data)
                    if (data.OK) {
                        Swal.fire({ title: "Datos guardados", text: data.Mensaje, type: 'success', timer: 1000 });
                        HoldOn.close();
                        ListarOperacionesXTipoTrabajo();
                    } else {
                        HoldOn.close();
                        Swal.fire({ title: "Error:", text: data.Mensaje, type: 'error', timer: 6000 });
                    }
                },
                error: function (data) {
                    console.log("Ocurrió el siguiente Error:", data.Mensaje, "error");
                    HoldOn.close();
                }
            });

        });


        $(document).on("click", ".urlSubeOperacion", function (e) {
        e.preventDefault();
        //$('#CreateView-wrapper').fadeOut();
            var ID = $(this).attr("data");
            var _TipoTrabID = $(@Html.IdFor(x => x.intTipoTrabajoID)).val();
             $.ajax({
            type: "POST",
            url: "@Url.Action("MoverOperacionXTipoTrabajo", "Operacion")",
            data: {
                intOperacion: ID,
                intTipoTrabajo: _TipoTrabID,
                bitSubirOperacion: true
            },
            datatype: "json",
            traditional: true,
            beforeSend: function () {
                HoldOn.open({
                    theme: "sk-cube-grid"
                });
            },
            complete: function () {
                HoldOn.close();
            },
            success: function (data) {
                data = JSON.parse(data)
                if (data.OK) {
                    Swal.fire({ title: "Datos guardados", text: data.Mensaje, type: 'success', timer: 200 });
                    HoldOn.close();
                    ListarOperacionesXTipoTrabajo();
                } else {
                    HoldOn.close();
                    Swal.fire({ title: "Error:", text: data.Mensaje, type: 'error', timer: 6000 });
                }
            },
            error: function (data) {
                console.log("Ocurrió el siguiente Error:", data.Mensaje, "error");
                HoldOn.close();
            }
        });

        });

        $(document).on("click", ".urlBajaOperacion", function (e) {
            e.preventDefault();
            //$('#CreateView-wrapper').fadeOut();
            var ID = $(this).attr("data");
            var _TipoTrabID = $(@Html.IdFor(x => x.intTipoTrabajoID)).val();
             $.ajax({
            type: "POST",
            url: "@Url.Action("MoverOperacionXTipoTrabajo", "Operacion")",
            data: {
                intOperacion: ID,
                intTipoTrabajo: _TipoTrabID,
                bitSubirOperacion: false
            },
            datatype: "json",
            traditional: true,
            beforeSend: function () {
                HoldOn.open({
                    theme: "sk-cube-grid"
                });
            },
            complete: function () {
                HoldOn.close();
            },
            success: function (data) {
                data = JSON.parse(data)
                if (data.OK) {
                    Swal.fire({ title: "Datos guardados", text: data.Mensaje, type: 'success', timer: 200 });
                    HoldOn.close();
                    ListarOperacionesXTipoTrabajo();
                } else {
                    HoldOn.close();
                    Swal.fire({ title: "Error:", text: data.Mensaje, type: 'error', timer: 6000 });
                }
            },
            error: function (data) {
                console.log("Ocurrió el siguiente Error:", data.Mensaje, "error");
                HoldOn.close();
            }
        });

        });


        $(document).on("click", ".urlEliminaOpTrabajo", function (e) {
        e.preventDefault();
        var ID = $(this).attr("data");
            var _TipoTrabID = $(@Html.IdFor(x => x.intTipoTrabajoID)).val();

        Swal.fire({
            title: '¿Desesa eliminar este Registro? Este movimiento no se puede deshacer.',
            type: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí',
            cancelButtonText: 'No',
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("EliminarOperacionXTipoTrabajo", "Operacion")",
                    datatype: "json",
                    traditional: true,
                    data: {
                        intOperacionID: ID,
                        intTipoTrabajoID: _TipoTrabID
                    },
                    beforeSend: function () {
                        HoldOn.open({
                            theme: "sk-cube-grid"
                        });
                    },
                    complete: function () {
                        HoldOn.close();
                    },
                    success: function (data) {
                        data = JSON.parse(data)
                        if (data.OK) {
                            HoldOn.close();
                            Swal.fire({ title: "Listo", text: "Registro eliminado", type: 'info', timer: 3000 });
                            ListarOperacionesXTipoTrabajo();
                        } else {
                            Swal.fire({ title: "Ocurrió el siguiente Error:", text: data.Mensaje, type: 'warning', });
                        }
                    },
                    error: function (data) {
                        console.log("Error", "Error al eliminar este registro.", "error");
                        HoldOn.close();
                    }
                });
            }
        });
    });



        $(document).on("click", ".urlMateriales", function (e) {
        e.preventDefault();
            //$('#CreateView-wrapper').fadeOut();
            var ID = $(this).attr("data");

            var _desc = $(this).attr("data_Desc");
            var _descTipoTrabajo = $(this).attr("data_DescTipoTrabajo");


            document.getElementById("spTrabajo").innerHTML = ""+_descTipoTrabajo;
            document.getElementById("spOperacion").innerHTML = "Operación: "+_desc;


            var _TipoTrabID = $(@Html.IdFor(x => x.intTipoTrabajoID)).val();
            //alert("ID : " + ID +"[--]_TipoTrabID : "+_TipoTrabID);

            document.getElementById("txtOprXTipoTrab").value = ID;

            $('#ConfiguracionOpsFull-wrapper').fadeOut();
            $('#ConfiguracionOpsXTrabajo-wrapper').fadeOut();
            $('#VistaConfiguracion-Form').fadeOut();

            $('#VistaConfiguracionMateriales-Form').fadeIn();
            $('#MaterialesOpsFull-wrapper').fadeIn();
            $('#MaterialesOpsXTrabajo-wrapper').fadeIn();

            //$('#AgregaOperaciones-btn').fadeIn();
            //$('#OcultaOperaciones-btn').fadeOut();

            document.getElementById("AgregaOperaciones-btn").style.display = "";
            document.getElementById("OcultaOperaciones-btn").style.display = "none";

            ListarArticulosFull();
            ListarMaterialXOperacionTipoTrabajo(ID);

        });


        function ListarArticulosFull() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("getGridArticulosActivosCompleto", "Operacion")",
                data: $('form').serialize(),
                datatype: "json",
                traditional: true,
                success: function (data) {
                    LimpiaDiv('MaterialesOpsFull-wrapper');
                    $('#MaterialesOpsFull-wrapper').html(data);
                    //ListarOperacionesXTipoTrabajo();
                },
                error: function (data) {
                    Swal.fire({ title: "Error", text: "Error al obtener los datos..", type: 'error', });
                }
            });
        }



        function ListarMaterialXOperacionTipoTrabajo(_intOperacionTipoTrabajo) {

            //alert("_intOperacionTipoTrabajo: "+_intOperacionTipoTrabajo)
            $.ajax({
                type: "POST",
                url: "@Url.Action("getGridMaterialXOperacionTipoTrabajo", "Operacion")",
                data: {
                    intOperacionTipoTrabajo: _intOperacionTipoTrabajo,
                },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    LimpiaDiv('MaterialesOpsXTrabajo-wrapper');
                    $('#MaterialesOpsXTrabajo-wrapper').html(data);
                },
                error: function (data) {
                    Swal.fire({ title: "Error", text: "Error al obtener los datos..", type: 'error', });
                }
            });
        }




        $(document).on("click", ".urlAgregaMaterial", function (e) {
            e.preventDefault();
            //alert("Pendiente Agregar Material...");
            var _articulo = $(this).attr("data");
            //var _cantidad = $(this).attr("data2");
            var _operacionTipoTrabajo = document.getElementById("txtOprXTipoTrab").value;
            var _cantidad = document.getElementById("txtCantidad_" + _articulo).value;

            //var _TipoTrabID = $(@Html.IdFor(x => x.intTipoTrabajoID)).val();
            //alert("OpTipoTrabajo : " + _operacionTipoTrabajo + "[--]Artículo : " + _articulo + "[--]Cantidad : " + _cantidad);

            $.ajax({
                type: "POST",
                url: "@Url.Action("AgregaMaterialXOperacionTipoTrabajo", "Operacion")",
                data: {
                    intOperacionXTipoTrabajo: _operacionTipoTrabajo,
                    intArticulo: _articulo,
                    dblCantidad: _cantidad
                },
                datatype: "json",
                traditional: true,
                beforeSend: function () {
                    HoldOn.open({
                        theme: "sk-cube-grid"
                    });
                },
                complete: function () {
                    HoldOn.close();
                },
                success: function (data) {
                    data = JSON.parse(data)
                    if (data.OK) {
                        ListarMaterialXOperacionTipoTrabajo(_operacionTipoTrabajo);
                        Swal.fire({ title: "Datos guardados", text: data.Mensaje, type: 'success', timer: 1000 });
                        HoldOn.close();
                    } else {
                        HoldOn.close();
                        Swal.fire({ title: "Error:", text: data.Mensaje, type: 'error', timer: 6000 });
                    }
                },
                error: function (data) {
                    console.log("Ocurrió el siguiente Error:", data.Mensaje, "error");
                    HoldOn.close();
                }
            });

        });


        $(document).on("click", ".urlEliminaMaterialXTipoTrabajo", function (e) {
        e.preventDefault();
            var ID = $(this).attr("data");
            var _dataOperacion = $(this).attr("dataOperacion");


        Swal.fire({
            title: '¿Desesa eliminar este Registro? Este movimiento no se puede deshacer.',
            type: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí',
            cancelButtonText: 'No',
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("EliminaMaterialnXTipoTrabajo", "Operacion")",
                    datatype: "json",
                    traditional: true,
                    data: {
                        intOperacionXTipoTrabajoID: ID
                    },
                    beforeSend: function () {
                        HoldOn.open({
                            theme: "sk-cube-grid"
                        });
                    },
                    complete: function () {
                        HoldOn.close();
                    },
                    success: function (data) {
                        data = JSON.parse(data)
                        if (data.OK) {
                            HoldOn.close();
                            Swal.fire({ title: "Listo", text: "Registro eliminado", type: 'info', timer: 500 });
                            ListarMaterialXOperacionTipoTrabajo(_dataOperacion);
                        } else {
                            Swal.fire({ title: "Ocurrió el siguiente Error:", text: data.Mensaje, type: 'warning', });
                        }
                    },
                    error: function (data) {
                        console.log("Error", "Error al eliminar este registro.", "error");
                        HoldOn.close();
                    }
                });
            }
        });
    });


        function LimpiaDiv(elementID) {
            var div = document.getElementById(elementID);
            while (div.firstChild) {
                div.removeChild(div.firstChild);

            }
        }

    </script>
}

