@model appWebPrueba.Models.OperacionVM

@{
    Layout = null;
}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Artículo</th>
                <th>Cantidad</th>
                <th>Unidad de Medida</th>
                <th>Agregar</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.lGridOperacion != null)
            {
                foreach (var item in Model.lGridOperacion)
                {
            <tr>
                <td style="font-size:12px">@item.PartDesc</td>
                <td style="font-size:12px">
                    <input class = "form-control fa-2x" style="width:100px;" id="txtCantidad_@item.intArticulo" type="text" value="@item.dblCantidad" />
                </td>
                <td style="font-size:12px">@item.UMVenta</td>
                @*<td style="font-size:12px">@item.strNombreCorto</td>*@
                <td style="font-size:12px">
                    @if ((item.intOperacion == 1))
                    {
                        <span title="OK"></span>
                    }
                    else
                    {
                        <span title="Agregar este material a la operación" class='urlAgregaMaterial' data='@item.intArticulo' dataCantidad='@item.dblCantidad' ><i class='fa-2x mr-2 fas fa-arrow-alt-circle-right'></i></span>
                    }
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>